<ol class="comment-list">
	<li id="comment-lcp" class="comment">
		<article id="div-comment-lcp" class="comment-body">
			<footer class="comment-meta">
				<div class="comment-author vcard">
					<img src="AVATAR_URL" alt="" class="avatar avatar-AVATAR_SIZE" width="AVATAR_SIZE" height="AVATAR_SIZE"/>
					<b class="fn"><a href="COMMENT_AUTHOR_URL" rel="external nofollow" class="url">COMMENT_AUTHOR</a></b>
					<span class="says">says:</span>
				</div>
				<div class="comment-metadata">
					<a href="/#comment-lcp">
						<time datetime="ISO_8601_DATE_FORMAT">DEFAULT_DATE_FORMAT</time>
					</a>
				</div>
			</footer>
		<div class="comment-content">
			COMMENT_CONTENT
		</div>
		</article>
	</li>
</ol>